.sidebar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.sidebar a{
    text-decoration: none;
    background-color: #6c5ce7;
    color: white;
    border-radius: 50px;
    padding: 10px;
    font-size: 10px;
}

#stats{
    width: 100vw;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.valore{
    display: flex;
    justify-content: center;
    align-items: center;
}

.valore h2{
    margin-left: 3px;
    color: #6C5CE7;
}

#listaUtenteUtenteList{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    max-height: 70vh;
    overflow-y: auto;
}

.paginator{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}