@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Poppins:wght@400;500;600&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}


::-webkit-scrollbar-thumb {
    background: #6C5CE7;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgba(108, 92, 231, 0.5);
}

body{
    min-height: 100vh;
    overflow: hidden;
    background-color: white;
}

.inter_bold{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.inter_extra-bold{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.inter_black{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.poppins_semi-bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.poppins_medium{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.poppins_regular{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.roboto_regular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}