
#main{
    height: 91vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

    #main #post, #main #commenti, #main #commenta{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 19px 0 rgba(0, 0, 0, 0.19);
        padding: 5px;
    }

        #main #post #utente_post{
            display: flex;
            justify-content: center;
            align-items: center;
        }

            #main #post #utente_post img{
                height: 50px;
                border-radius: 50%;
            }

            #main #post #utente_post p{
                font-family: 'Inter', sans-serif;
                font-weight: 700;
                margin-left: 10px;
            }

        #main #post #title_post{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

            #main #post #title_post #post_title_text{
                font-family: 'Inter', sans-serif;
                font-weight: 800;
            }

            #main #post #title_post #post_date{
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 12px;
                margin-left: 5px;
            }

        #main #post #corpo_post{
            margin-top: 10px;
            max-height: 200px;
            overflow-y: auto;
        }

        #main #post #post_files{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            overflow-x: scroll;
        }

        #main #post #post_files::-webkit-scrollbar{
            width: auto;
            height: 5px;
        }

            #main #post .file{
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                cursor: pointer;
                padding: 3px;
                border-radius: 3px;
                color: black;
                background-color: rgba(108, 92, 231, 0.4);
            }

                #main #post .file .nome_file{
                    margin-left: 5px;
                }


    #main #commenti{
        margin-top: 10px;
        height: 30%;
        overflow-y: scroll;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

        #main #commenti .commento{
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            padding: 5px;
            border-radius: 3px;
            background-color: rgba(108, 92, 231, 0.4);
        }

            #main #commenti .commento .utente{
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #main #commenti .commento .utente img{
                    height: 30px;
                    border-radius: 50%;
                }

                #main #commenti .commento .utente .nome_utente{
                    margin-left: 5px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                }

        #main #commenti .commento .corpo_commento{
            margin-top: 5px;
            font-size: 13px;
        }

        #main #commenti .commento .ora_commento{
            margin-top: 5px;
            font-size: 10px;
        }


        #main #commenta{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }



@media only screen and (max-width: 700px) {

    #menu_desktop{
        display: none;
    }

    #openMobileMenu{
        display: block !important;
        position: absolute;
        font-size: 2vh;
        color: black;
        left: 10px;
        text-align: center;
        cursor: pointer;
    }

    #menu_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 6px 6px -6px #777;
        height: 5vh;
        width: 100vw;
    }

    #menu_mobile #logo_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_mobile #logo_mobile svg{
        height: 4vh;
    }

    #menu_mobile  #logo_mobile #title_mobile{
        font-weight: bold;
        font-size: 20px;
    }

    #main_menu_mobile{
        width: 100vw;
        height: 100vh;
        background: white;
        z-index: 100;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        transition: 0.5s;
    }

    .menuMobileAperto{
        left: 0 !important;
    }

    .menuMobileChiuso{
        left: -100vw !important;
    }

    #main_menu_mobile #scelte_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        flex-direction: column;
    }

    #main_menu_mobile #scelte_mobile .separatorDot{
        background-color: #FDCB6E;
        height: 5px;
        width: 5px;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #main_menu_mobile #scelte_mobile a{
        color: #6C5CE7;
        text-decoration: none;
    }

    #main_menu_mobile #scelte_mobile .selected{
        font-weight: bold;
        color: black;
    }

    #main_menu_mobile #utente_mobile{
        margin-top: 30px;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6c5ce7;
        border-radius: 30px;
    }

    #main_menu_mobile #utente_mobile a{
        color: white;
        font-weight: bold;
        font-size: 10px;
        margin: 20px;
        text-decoration: none;
    }

    #main_menu_mobile #close{
        position: absolute;
        left: 10px;
        top: 5px;
    }

    #main{
        height: 95vh;
    }


}



